temps/
report/
report.html

__pycache__/
*.pyc
.pytest_cache/

*.db

.venv/
venv/
.idea/

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml